<div class="page-header">
  <h1>About</h1>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">Web App</h3>
  </div>
  <div class="panel-body">
    You're looking at it...
  </div>
</div>

<div class="panel panel-success">
  <div class="panel-heading">
    <h3 class="panel-title">API</h3>
  </div>
  <div class="panel-body">
    This Ruby on Rails application also has a RESTful API. The API can be accessed at <a href="http://mrt.creacore.net/api/v1/names">http://mrt.creacore.net/api/v1/names</a>.
  </div>
</div>

<div class="panel panel-warning">
  <div class="panel-heading">
    <h3 class="panel-title">CRUD Functions</h3>
  </div>
  <div class="panel-body">
    The below table shows the available CRUD functions for both the Web App and the API.
  </div>
  <table class="table table-bordered table-hover">
    <tr>
        <th></th>
        <th>CREATE</th>
        <th>READ</th>
        <th>UPDATE</th>
        <th>DELETE</th>
    </tr>
    <tr>
        <th>Web App</th>
        <td class="danger"></td>
        <td class="success"></td>
        <td class="danger"></td>
        <td class="danger"></td>
    </tr>
    <tr>
        <th>API</th>
        <td class="success"></td>
        <td class="success"></td>
        <td class="success"></td>
        <td class="success"></td>
    </tr>
  </table>
</div>
